body {
  background: black;
}
#Spotlight {
  margin-top: 100px;
}
h1 {
    color:white;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    padding: 20px;
}
h2 {
  color:white;
  font-family: 'Yeseva One', cursive;
  text-align: center;
}
h3 {
  color:white;
  font-family: 'Yeseva One', cursive;
  text-align: left;
}
ul.navbar-nav {
  background: rgba(0,0,0,0.5);
  padding: 5px;
}
li {
  font-family: verdana;
  padding: 10px;
  color:white;
}
ul.ingredients {
  line-height: 10px;
  text-align: left;
  list-style-type: none;
}
.recipe-steps {
  line-height: 10px;
}
a {
  color: white;
  text-decoration: none;
}
a.link {
  margin-top: ;
}
p {
  color:white;
  text-align:center;
}
#logo {
  width:50px;
  height:50px;
  border:0;
  margin: 10px 10px auto auto;
  padding: 0;
}
